---
import ProductCard from "./ProductCard.astro";
import Button from "./Button.astro";
---

<section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mx-auto lg:ml-64">
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="imgs/single.webp" imgPath1="imgs/iphone.png" imgPath2="imgs/bookcard.png" imgPath3="imgs/headphone.png" forfatter="Christina Bonde" part="Del 2 i rækken" price="281 - 320 DKK" imgPath4="imgs/star.png" imgPath5="imgs/star.png" imgPath6="imgs/star.png" imgPath7="imgs/star.png" imgPath8="imgs/stargrey.png" />
</section>
